<div class="contact-container">
    <h1 class="">Get Support</h1>
    <p class="contact-container-sub-heading">We’re here to help you find the perfect pieces for your home. Whether you have a question about our products, need styling advice, or want to know more about our craftsmanship, our team is just a message away.</p>
</div>



<style>
    .contact-container {
        width: 90%;
        margin : 0 auto;
    }

    .contact-container h1 {
        text-align: center;
        font-size : 1.8rem;
        font-weight: 500 !important;
    }

    .contact-container-sub-heading{
        width: 50%;
        margin: 0 auto;
        font-size: 1rem;
        font-weight: 300 !important;
        text-align: center;
    }
</style>