<div class="aboutus-container">
  <h1 class="heading-aboutus">{{ section.settings.title }}</h1>
  <p class="aboutus-text">
    {% if section.settings.content != blank %}
        {{ section.settings.content }}
        {% else %}
            <p>Write your content here</p>
    {% endif %}
  </p>

  <p class="aboutus-text">
    Every item in our collection—whether wooden kitchenware, plush pillows, or cozy quilts—is carefully designed and crafted. Our pieces marry clean, minimalist aesthetics with thoughtful function, much like Ethnicraft’s commitment to timeless, versatile design . We celebrate natural materials and work alongside skilled artisans to bring their work into homes everywhere.
  </p>

  <p class="aboutus-text">
    Sustainability isn’t just a buzzword for us—it’s embedded in how we source and create. We honor the enduring nature of our materials—from responsibly sourced hardwoods to quality fabrics—so that our products age gracefully and remain cherished for years to come. We design with longevity in mind, creating items that carry stories through generations.
  </p>


  <div class="aboutus-additional-content aboutus-text">
        <h3 class="about-additional-content-title">We create thoughtful homeware that transforms everyday living into timeless memories</h3>
        <div class="aboutus-image-container">
            <img src="https://cdn.shopify.com/s/files/1/0688/9357/3180/files/about1.png?v=1755080513" alt="aboutus-image">
            <img src="https://cdn.shopify.com/s/files/1/0688/9357/3180/files/about2.png?v=1755080513" alt="aboutus-image">
            <img src="https://cdn.shopify.com/s/files/1/0688/9357/3180/files/about3.png?v=1755080514" alt="aboutus-image">

        </div>
  </div>
</div>

<style>
 
  .aboutus-container{
      width: {{ section.settings.container_width }}px;
      margin: 60px auto;
      text-align: center;
      font-size: 28px !important;
      font-weight: 500 !important;
  }

  .heading-aboutus{
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
  }

  .aboutus-text{
    margin: 60px auto;
    font-size: 15px !important;
    font-weight: 300 !important;
  }

  .about-additional-content-title{
    font-size: 28px !important;
      font-weight: 500 !important;
  }

  .aboutus-image-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 60px
  }
</style>

{% schema %}
{
  "name": "About Us",
  "settings": [
    {
      "type": "range",
      "id": "container_width",
      "label": "Container Max Width (px)",
      "min": 1000,
      "max": 1800,
      "step": 50,
      "default": 1800
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "About Us"
    },
    {
        "type": "text",
        "id": "content",
        "label": "Content"
    }
  ]

}
{% endschema %}
