<div class="contact-container">
  <h1 class="">Get Support</h1>
  <p class="contact-container-sub-heading">
    We’re here to help you find the perfect pieces for your home. Whether you have a question about our products, need
    styling advice, or want to know more about our craftsmanship, our team is just a message away.
  </p>

  <div class="main-contact-container">
    <div class="contact-info-container">
      <h4>Get in Touch</h4>
      <ul>
        <li>Email : <a href="mailto:support@pillowfights.com">support@pillowfights.com</a></li>
        <li>Phone : <a href="tel:+91-9876543210">+91-9876543210</a></li>
        <li>
          Address :
          <a href="https://www.google.com/maps/place/Pillow+Fights/@22.578519,88.365625,17z/data=!3m1!4b1!4m5!3m4!1s0x3a1e75a3f37f9f65:0x7fdb06b5f97aa76!8m2!3d22.578519!4d88.365625"
            >Pillow Fights, Plot No. 12, Sector-12, Noida, Uttar Pradesh 211021, India</a
          >
        </li>
        <li>Hours: Mon–Sat, 10:00 AM – 7:00 PM (IST)</li>
      </ul>

      <div class="contact-important-info-link">
        <div class="important-info-link-container">
          <p>Return or exchange a order</p>
          <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_430_281)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.7072 13.207C15.8947 13.0194 16 12.7651 16 12.5C16 12.2348 15.8947 11.9805 15.7072 11.793L10.0502 6.13598C9.95797 6.04047 9.84762 5.96428 9.72562 5.91188C9.60361 5.85947 9.47239 5.83188 9.33961 5.83073C9.20684 5.82957 9.07516 5.85487 8.95226 5.90516C8.82936 5.95544 8.71771 6.02969 8.62382 6.12358C8.52993 6.21747 8.45567 6.32913 8.40539 6.45202C8.35511 6.57492 8.32981 6.7066 8.33096 6.83938C8.33212 6.97216 8.3597 7.10338 8.41211 7.22538C8.46452 7.34739 8.5407 7.45773 8.63621 7.54998L13.5862 12.5L8.63621 17.45C8.45406 17.6386 8.35326 17.8912 8.35554 18.1534C8.35782 18.4156 8.46299 18.6664 8.64839 18.8518C8.8338 19.0372 9.08462 19.1424 9.34681 19.1447C9.60901 19.1469 9.86161 19.0461 10.0502 18.864L15.7072 13.207Z" fill="#757575"/>
            </g>
            <defs>
            <clipPath id="clip0_430_281">
            <rect width="24" height="24" fill="white" transform="matrix(-1 0 0 1 24 0.5)"/>
            </clipPath>
            </defs>
          </svg>
        </div>
      </div>
    </div>

    {% comment %}
      main contact form section
    {% endcomment %}

    <div class="contact-form-container"></div>
  </div>
</div>

<style>
  .contact-container {
    width: 90%;
    margin: 60px auto;
  }

  .contact-container h1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500 !important;
  }

  .contact-container-sub-heading {
    width: 50%;
    margin: 48px auto;
    font-size: 1rem;
    font-weight: 300 !important;
    text-align: center;
  }

  .main-contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .contact-important-info-link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 100px;
  }

  .important-info-link-container {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
